<footer>
  <div class="footer">
    <h2 class="logo">Visionis</h2>
    <div class="talk">
      <ul>
        <li><h3>Fale Conosco</h3></li>
        <li class="space"><a href="http://" >+55 11 1234-5678</a></li>
        <li class="space"><a href="mailto:" >contato@email.com</a></li>
      </ul>
    </div>
    <div class="social">
      <ul>
        <li><h3>Redes Sociais</h3></li>
        <li class="space">Instagram</li>
        <li class="space">Linkedin</li>
        <li class="space">Facebook</li>
      </ul>
    </div>
  </div>
</footer>
