<section>
  <div class="contact">
    <div class="conForm">
      <form>
        <div>
          <label for="nome"><p>Nome</p></label>
          <input type="text" id="nome" name="nome" required />
        </div>
        <div>
          <label for="email"><p>Email</p></label>
          <input type="email" id="email" name="email" required />
        </div>
        <div>
          <label for="telefone"><p>Telefone</p></label>
          <input type="tel" id="telefone" name="telefone" />
        </div>
        <div>
          <label for="mensagem"><p>Mensagem</p></label>
          <textarea id="mensagem" name="mensagem" rows="4" required></textarea>
        </div>
        <a type="submit">Enviar</a>
      </form>
    </div>
    <div class="conText">
      <h2>Fale mais sobre o seu projeto conosco!</h2>
      <p>entre em contato ou envie uma mensagem pelo formulário</p>
      <p>Telefone: (11) 1234-5678</p>
    </div>
  </div>
</section>
